# node module
node_modules/

# build
dist/
dist/*
dist/app.controller.d.ts
build/

# database
*.db
*.sqlite

# logs
logs/
*.log
npm-debug.log*

# environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

